{% extends 'cabinet/cabinet_layout.html.twig' %}

    {% set title= 'Addresses Edit' %}
    {% if page_title is defined and page_title is not empty %}
        {% set title=page_title %}
    {% endif %}

{% block title %}{{title|trans }}{% endblock %}

{% block content %}
        <div class="col-xl-1">
        </div>
        <div class="col-xl-11">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">{{title|trans }}</div>
                </div>
                <div class="card-body">
                    {{  form_errors(form) }}

            {{ form(form) }}
                </div>
            </div>
        </div>
{% endblock %}
 {% block javascripts %}{% endblock %}
