<div class="b-tooltip b-module-info__help-s">
    <span class="b-tooltip__body">
        {{ helpText }}
    </span>
    <div class="svg-icon">
        <svg class="svg-icon svg-fill ">
            <use xlink:href="#ls-help-s">

            </use>
        </svg>
    </div></div>